.banner{
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 36px 70px;
    min-height: calc(100vh - var(--header-height));
    color: var(--color-light-gray);
    background-color: var(--color-dark-alternate);

}
.banner-body{
    text-transform: uppercase;
}

.banner-info{
    display: flex;
    align-items: end;
    font-size: clamp(14px, 1.56vw, 30px);
    line-height: 1.27;
    font-weight: 700;
}
.banner-title{
    font-size: min(17.75vw, 360px) ;
    line-height: 1;

}
.banner-info::before{
    margin-left: 17px;
    margin-right: 13px;
    content: '';
    width: clamp(50px, 10.1vw, 194px);
    aspect-ratio: 1;
    background: url(../../icons/bold-arrow-dawn-right.png) center/contain no-repeat;
}
.banner-pagination-list{
    display: flex;
    justify-content: center;

}
.banner-pagination-item{
    display: flex;
}

.banner-pagination-button{
    
    padding: 7px;
    background-color: transparent;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    
    
}

.banner-pagination-button::after{
    content: '';
    width: 10px;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
}
.banner-pagination-button.is-current::after{
    background-color: var(--color-light);

}

.banner-pagination-button:not(.is-current):hover::after{
    border-color: var(--color-light-gray);
    transition-duration: var(--transition-duration);
}
@media (max-width: 900px){
    :root{
      --header-height: 90px;  
    }
    
    .banner{
        row-gap: 10px;
        padding: 30px;
    }
  }
  @media (max-width: 767px){
    .banner-info{
        margin-bottom: 5px;
    }
    .banner-info::before{
        margin-right: 7px;
    }
}