.training-types{
    position: relative;
    padding-top: 70px;
    padding-bottom: 120px;
    background-color: var(--color-dark);
 
}
.training-types-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 60px;


}
.training-types-item{
    --triningTypesItemBgIconSize: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding-top: var(--triningTypesItemBgIconSize);
    
    background-image: url(../../icons/transparrent-arrow-bottom.svg) ;
    /* 100% 0/var(--triningTypesItemBgIconSize) no-repeat */
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: 100%;
    background-size: var(--triningTypesItemBgIconSize);
    
}

.training-types-list-item{
    font-size: 16px;
}
@media (max-width: 1280px){
    .training-types-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 760px){
    .training-types-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .training-types-item{
        --triningTypesItemBgIconSize: 50px;
        row-gap: 10px;
    }
    .training-types-image{
    max-width: 120px;
   

    }
}